fastapi>=0.109.0,<0.111.0
pydantic>=2.6.0
uvicorn[standard]>=0.27.0
gunicorn>=21.2.0
sqlalchemy>=2.0.25
asyncpg
python-multipart>=0.0.9
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
httpx
pydantic-settings>=2.1.0
uuid
python-dotenv
alembic
email-validator
celery==5.3.6
redis==5.0.1
openai==1.3.5
pgvector
fastapi-limiter
scikit-learn
sqlalchemy-utils
cryptography
notion-client
aiogoogle
python-dateutil
slack-sdk
fastapi-mail
google-api-python-client
evernote3
psycopg2-binary
pytest
pytest-asyncio
aiogram
tenacity
structlog==24.1.0
prometheus-fastapi-instrumentator==7.0.0
sentry-sdk[fastapi]==1.40.0
